.breadcrumbs{
    margin-bottom: 21px;
}
.breadcrumbs__item{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2px;
    
    &:before{
       content: ">";
       display: inline-block;
       vertical-align: middle;
       margin-right: 5px;
        
    }
    
    &:first-child{
        &:before{
            display: none;
        }
    }
}

.breadcrumbs__item_active{
    .breadcrumbs__link{
            color:$orange;
            
        
    }
    
}

.breadcrumbs__link{
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
    color: #111;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    
}

.topic__wrap {
  margin-bottom: 20px;  
}
h1 {
    
    font-family: 'open_sanssemibold';
    font-size: 20px;
    padding: 0;
    margin: 0;
}
