
.content {
    float: right;
    width: 63%;
}
/*----------------sort-----------------------*/
.sort{
    background: #e4ebee;
    @include clearfix;
    border: 1px solid $grey;
    border-radius:5px;
    margin-bottom: 21px;
    
}
.sort__title{
    font-size: 14px;
    line-height: 16px;
    color: #5d656c;
    display: inline-block;
    vertical-align: middle;
    margin-right: 11px;
}
.sort__select-wrap{
    padding-top: 10px;
    padding-left: 20px;
}
.sort__select{
    display: inline-block;
    vertical-align: middle;
   
}
.sort__select-elem {
    border-radius: 5px;
    
    outline: none;
    font-size: 14px;
    padding: 5px;
    font-family: 'open_sanslight';
}

.sort__left{
    float: left;
    width: 50%;
}
.sort__right{
    float: right;
    width: 50%;
    text-align: right;
}

.sort__view{
    display: inline-block;
    vertical-align: middle;
}
.sort__view-list{
    @include clearfix;
}
.sort__view-item{
    float: left;
    border-left: 1px solid $grey;
}
.sort__view-link{
    width: 50px;
    height: 50px;
    position: relative;
    display: block;
    outline: none !important;
}
.sort__view-icon{
    @include absolute-center;
}
$views-map: sprite-map('view/*.png',$spacing: 70px);
$items : rows, grids, direct;

@each $item in $items{
    .sort__view_#{$item}{
        .sort__view-icon{
            @include get-sprite($views-map,$item);
        }
        
        &:hover{
            $hi: $item + '-active';
            
            .sort__view-icon{
                @include get-sprite($views-map,$hi);
            }
        }
            
        &.active{
            $hi: $item + '-active';
            
            .sort__view-icon{
                @include get-sprite($views-map,$hi);
            }
        }
    }
}

    




































